<!DOCTYPE html>
<html>
    <head>
        <title>ZKsync Errors List</title>
        <meta charset="UTF-8">
        <style>
            body { font-family: Arial, sans-serif; margin: 20px; }
            h1 { color: #333; }
            table { border-collapse: collapse; width: 50%; }
            th, td { border: 1px solid #ddd; padding: 8px; }
            th { background-color: #f2f2f2; }
        </style>
    </head>
    <body>


        <table>
            <tr>
                <th>Identifier</th>
                <th>Name</th>
                <th>Code </th>
                <th>Domain </th>
                <th>Component </th>
                <th>Message</th>
                <th>Short Description</th>
            </tr>
            {% for error in errors | sort(attribute="0") %}

            <tr>
                <td> {{ error.0}}</td>
                <td>
                    <a href="{{error.1.domain.name}}/{{error.1.component.name}}/{{error.1.name}}.html">
                        {{ error.1.name }}
                    </a>
                </td>
                <td> {{ error.1.code }}</td>
                <td> {{ error.1.domain.name }}</td>
                <td> {{ error.1.component.name }}</td>
                <td> {{ error.1.message }}</td>
                <td>

                    {% if error.1.documentation.short_description %}
                    {{ error.1.documentation.short_description }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>
